exportPattern(binTest)
exportPattern(forceIncrTrend)
exportPattern(forceDecrTrend)
exportPattern(getBins)
exportPattern(manualSplit)
exportPattern(naCombine)
exportPattern(createBins)
import(doParallel)
import(foreach)
import(iterators)
import(partykit)
import(data.table)
importFrom("stats", "formula", "na.exclude", "na.omit")
